.intro__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
/* or 26px */
    color: #FFFFFF;
    margin-top: 40px;
    max-width: 690px;
    margin-bottom: 0;
}